@using model;
@{
    ViewData["Title"] = "Admin";
}


<div class="text-center contain">
    <h1 class="display-4">Delete Admin</h1>
    <hr/>
    @{
        string msg = this.ViewData["msg"] as string;
    }
    <form action="" class="was-validated" method="POST">
        <div class="mb-3 mt-3">
            <label for="uname" class="form-label">User Name:</label>
            <input type="text" class="form-control" id="delun" name="delun" required>
            <div class="valid-feedback">Valid.</div>
            <div class="invalid-feedback">Please fill out this field.</div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <p> @msg </p>
</div>