@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="text-center contain register-div">
    <h1 class="display-4">Contact Us</h1>
    <hr/>
    <div class="contain width-200">
        <form action="" method="post">
            <label for="fname">First Name: <input type="text" id="fname" name="fname"></label>
            <label for="lname">Last Name: <input type="text" id="lname" name="lname"></label>
            <label for="emailid">Email Id: <input type="text" id="emailid" name="emailid"></label>
            <label for="desc">Description: <textarea name="desc" id="desc" cols="24" rows="3"></textarea></label>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
